//- include main layout template
extends layout.pug

//- make page title dynamic
block variables
  - var title = `Portfolio Site - ${project.project_name}`

block content 

  //- back navigation link
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- display main page title
        h1.homeTitle= project.project_name

        //- display sub-header title
        p.lead.text-light
          | #{project.description}

      //- technologies section
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- loop through the project technologies object and display the technologies used
        ul
          each technology in project.technologies
            li= technology

        //- Use template literals and interpolation to add URLs to the hrefs below so they link to the repo and the live version of each project.
        a.button.expanded(href=`${project.live_link}`, target="_blank") Live Demo
        a.button.expanded(href=`${project.github_link}`, target="_blank") GitHub Repo
    
    //- loop through the project images and display the images
    each image in project.image_urls
      img.image(src=`${image}`)